[user]
	email = 74660186+ak1-foo@users.noreply.github.com
	name = ak1-foo
[core]
	editor = code --wait
[include]
	path = ~/.gitconfig.local
[alias]
	aliases = !git config --get-regexp alias |  sed 's/^alias.//g' | sed 's/ / = /1'
	ad = add
	adw = !"git diff -w --no-color | git apply --cached"
	cm = commit
	cmv = commit --verbose
	cmva = commit --verbose --all
	ps = push -u origin HEAD
	psf = push -u origin HEAD --force-with-lease
	pl = pull
	st = status -s --untracked-files=all
	cl = clone
	br = branch
	brd = !"git branch | xargs git branch -d"
	df = diff
	dfs = diff --staged
	sw = switch
	swm = switch -d origin/main
	lg = log --oneline --decorate --graph
	fc = fetch --prune
	tree = log --graph --pretty=format:'%x09%C(auto) %h %C(green) %ai  %C(reset)by %C(cyan ul)%an%C(reset)  %C(auto)%s %d'
[init]
	defaultBranch = main
