[user]
	email = 74660186+ak1-foo@users.noreply.github.com
	name = ak1-foo
[core]
	editor = vim
[include]
	path = ~/.gitconfig.local
[alias]
	aliases = !git config --get-regexp alias |  sed 's/^alias.//g' | sed 's/ / = /1'
	ad = add
	cm = commit -m
	ps = push
	pl = pull
	st = status -s --untracked-files=all
	cl = clone
	br = branch
	df = diff
	dfs = diff --staged
	sw = switch
	lg = log --oneline --decorate --graph
